body {
    font-family: 'Italiana', serif;
    font-family: 'Shadows Into Light', cursive;
}

.banner{
    position: relative;
}

.banner__imagem {
    width: 100%;
    height: 400px;
    opacity: 0.5;
    transition: 0.6s;
}
.banner__imagem:hover {
    opacity: 1;
    transition: 0.6s;
}

.banner__titulo {
    color: #fdfdfd;
    font-size: 5.0625rem;
    position: absolute;
    left: 50px;
    top: 50px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    text-align: center;
    width: 100%;
    opacity: 0.5;
    transition: 0.6s;
}

.banner__titulo:hover {
    opacity: 1;
    transition: 0.6s;

}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    text-shadow: 5px 5px 5px #CCCCCC;
}

.principal {
    padding: 2em 0;
    background: whitesmoke;

}
.principal p {
    margin: 0 0 1em;

}

.principal-central {
    width: 940px;
    margin: 0 auto;

}

.quadro {
    width: 15%;
    float: left;
    margin: 0 20px 20px 0;
}
.destaques {
    padding: 2em 0;
    background: gray;
}
.conteudo-destaques {
    width: 600px;
    margin: 0 auto;
}

.van {
    width: 25%;
    /*tamanho lateral - vertical - difusão da sombra - tamanho*/
    box-shadow: 10px 10px 20px 5px #000000;
    border: none;
    border-radius: 15px;
    transition: 0.5s;
}

.van:hover {
    transform: scale(1.10);
    transition: 0,5s;
}
.lista-destaques {
    width: 40%;
    display:inline-block;
    vertical-align: top;
}

.item {
    line-height: 1.5;
}
.item:nth-child(2n) {
    font-weight: bold;
}
.item:before {
    content: "➢";
}
.van {
    width: 60%;
}
.mapa {
    padding: 3em 0;
    background: linear-gradient(whitesmoke,gray);
    
}
.mapa-conteudo {
    width: 1024px;
    margin: 10px auto;
}
.mapa p {
    margin: 0 0 1em;
    text-align: center;
}
.video {
    width: 600px;
    margin: 2em auto;
}

@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-destaques, .mapa-conteudo, .video {
        width: auto;
    }
    h1 {
        text-align: center;
    }
    nav {
        position: static;
    }
    .lista-destaques, .van {
        width: 100%;
    }
}