.caixa {
    position: relative;
    width: auto;
    margin: 0 auto;
    background-color: #b3aa39;
    padding: 15px;
    font-family: 'Italiana', serif;
    font-family: 'Shadows Into Light', cursive;
}
nav {
    position: absolute;
    top: 55px;
    right: 25px;
    font-family: 'Italiana', serif;
    font-family: 'Shadows Into Light', cursive;
}
nav li {
    display: inline-block;
    padding: 15px;
    margin:auto;
    font-family: 'Italiana', serif;
    font-family: 'Shadows Into Light', cursive;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bolder;
    font-size: 18px;
    text-decoration: dashed;
    font-family: 'Italiana', serif;
    font-family: 'Shadows Into Light', cursive;
}

nav a:hover {
    color: rgb(0, 110, 255);
    text-decoration: underline;
}

.gogh {
    position: relative;
}

/* FOOTER */

footer {
    text-align: center;
    background-image: url('../../assets/imagens/bg.jpg');
    padding: 50px 0;
    font-family: 'Italiana', serif;
    font-family: 'Shadows Into Light', cursive;
}

footer p {
    color: white;
    font-size: 10px;
    margin-top: 10px;
    padding: 10px 0;
}

@media screen and (min-width: 0) {
    .caixa {
        justify-content: center;
        padding: 0 1rem;

    }
}

@media screen and (min-width: 460px) {
    .caixa {
        justify-content: space-between;
        padding: 0 5rem;

    }
}

@media screen and (min-width: 0){
    .footer {
        display: none;
    }
}

@media screen and (min-width: 460px){
    .footer {
        display: block;
    }
}
