
.generos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.generos-li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px dotted #CCCCCC;
    border-radius: 50px;
    margin-bottom: 10px;
}

.generos-li:hover {
    border: 2px solid rgba(0, 0, 0, 1);
    
}

.generos h2 {
    font-size: 30px;
    font-weight: bold;
}

.generos__botao {
    margin-top: 10px;
    width: 80px;
    padding: 5px 5px 5px;
    background-color: rgb(128, 161, 163);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
}


.generos__botao:hover {
    background-color: darkorange;
    transform: scale(1.10);
}

.descrição {
    font-size: 18px;
}
.preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
